<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body class="center-page">
<div class="card">
    <form method="POST" th:action="@{/orders}" th:object="${tacoOrder}">
        <h1>Order your taco creations!</h1>
        <img th:src="@{/images/TacoCloud.jpg}" alt="Taco Cloud Logo" class="logo"/>

        <h3>Your tacos in this order:</h3>
        <ul>
            <li th:each="taco : ${tacoOrder.tacos}">
                <span th:text="${taco.name}">taco name</span>
            </li>
        </ul>

        <a th:href="@{/design}" class="link">+ Design another taco</a>

        <hr/>

        <h3>Delivery Info</h3>
        <label>Name:</label>
        <input type="text" th:field="*{deliveryName}" placeholder="Your name" class="input"/><br/>

        <label>Street address:</label>
        <input type="text" th:field="*{deliveryStreet}" placeholder="Street" class="input"/><br/>

        <label>City:</label>
        <input type="text" th:field="*{deliveryCity}" placeholder="City" class="input"/><br/>

        <label>State:</label>
        <input type="text" th:field="*{deliveryState}" placeholder="State" class="input"/><br/>

        <label>Zip code:</label>
        <input type="text" th:field="*{deliveryZip}" placeholder="Zip" class="input"/><br/>

        <h3>Payment Info</h3>
        <label>Credit Card #:</label>
        <input type="text" th:field="*{ccNumber}" placeholder="1111 2222 3333 4444" class="input"/><br/>

        <label>Expiration:</label>
        <input type="text" th:field="*{ccExpiration}" placeholder="MM/YY" class="input"/><br/>

        <label>CVV:</label>
        <input type="text" th:field="*{ccCVV}" placeholder="123" class="input"/><br/>

        <div class="center-content">
            <input type="submit" value="Submit Order" class="btn"/>
        </div>
    </form>
</div>
</body>
</html>